body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  .container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
  }
  
  .tab:hover {
    background-color: #0056b3;
  }
  
  .view {
    display: none;
  }
  
  .view.active {
    display: block;
  }
  
  #input-busqueda {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .informativa-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    color: white;
  }
  
  .informativa-container h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  .informativa-container p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .informativa-container img {
    margin-top: 20px;
    border-radius: 8px;
    max-width: 100%;
  }
  