/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
}

/* Estilos para el contenido principal */
main#app {
  padding: 20px;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

/* Estilos para el menú inferior */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}
